
.head_1, .main_1, .main_2{
	max-width: 1450px;
	height: 630px;
	min-width: 1010px;

}
.img_1 {
	width: 100%
	padding: 40px;
	margin-left: 150px;
	margin-top: 20px;
}
.li_1 {

	font-family: serif;
	color:  #ffffff;
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
	display: inline-block; 
	list-style: none;
	padding: 30px;

}
.info {
	margin-left: 100px;
	margin-top: 30px;
	float: right;
	right: 15px
	top:30px;
}
.bla {
	margin:150px auto 0 ;
	
}
h1 {
	padding: 5px;	
	font-family: BigJohn;
	color:  #ffffff;
	font-size: 46px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-align: center;
}
h2 {
	font-family: cursive;
	color:  #ffffff;
	font-size: 30px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-align: center;
}
.p_1 {
	border: 1px solid ;
	max-width: 100px;
	font-family: Lato;
	color:  #48bf72;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	margin: auto;
	
}
.info_2 {

}
.li_2 {
	font-family: serif;
	color:  #3c4955;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
	list-style: none;
	display: inline-block;
	padding: 10px;
	border-radius: 2px;
	background-color:  #eaeaea;
	width: 125px;
	height: 20px;

}
.info_2 {
		padding-top: 30px;
		width: 900px;
		margin: auto; 
	}
.li_2_1 {
	width: 200px;
	font-family: serif;
	color:  #3c4955;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
	list-style: none;
	display: inline-block;
	padding: 10px;
	border-radius: 2px;
	background-color:  #eaeaea;
	height: 20px; 
	background-color:  #48bf72;
	
}
.main_1 { 
	margin-top: 30px;
	height: 900px;
	}

.main_1_2 {
	width: 1150px;
	margin: auto;
}
.pic2, .pic5 {
	
	padding: 10px;
	float: right;
}
.pic1, .pic4 {
	
	padding: 10px;
	float: left;
}
.main_2_1 {
	margin:auto;
	width: 900px;
	padding: 30px;
	padding-left: 


}
.main_2 {
	height: 500px
}
.pf4 {
	margin-left: 450px;
	font-family: Lato;
	color:  #ffffff;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.text2 {
	margin-left: 445px;
	font-family: serif;
	color:  #ffffff;	
	font-size: 30px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 32px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	
}
.text3 {
	margin-left: 450px;
	font-family: serif;
	color:  #ffffff;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.text5 {
	margin-top: 80px;
	font-family: serif;
	color:  #3c4955;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-left: 450px;
	}
.pf6 {

	border-radius: 3px;
	border-width: 2px;
	border-color:  #3c4955;
	border-style: solid;
	width: 148px;
	height: 35px;
	padding-top:10px;
	padding-left: 25px;
}
.lasth1 {
	 color:  black;
}
.form {
	margin:auto;
	width: 600px;
	height: 450px; /* потим поміняти */
}
.form1, .form3 {
	margin-top:-52px;
	border-radius: 3px;
	border-width: 2px;
	border-color:  #3c4955;
	border-style: solid;
	background-color:  #f1f1f1;
	height: 46px;
	float: right;
}
.formpzd { 
	z-index: 2;
	width: 40.5%;
	float: left;
}
.formpzd2{
	width: 40.5%;
	float: right;
}
.bg1, .bg2 {
	border-color:  #3c4955;
	border: 1px solid;
	border-radius: 3px;
	background-color:  #3c4955;
	width: 50px;
	height: 50px;
}
.img_u {
  margin-top: 17px;
  margin-left: 10px;
}
.aro_pc, .aro_pc3 {
	position: absolute;
	margin-top: 17px;
	margin-left: 7px;
}

	


	

input {
	text-align: center;
}

.form4 {
	z-index: 4;
	border-radius: 3px;
	border-width: 2px;
	border-color:  #3c4955;
	border-style: solid;
	background-color:  #f1f1f1;
	width: 550px;
	height: 224px;
	margin-left: 50px;
	position: absolute;
	margin-top:   -230px;
	

}
.massage1 {
	width: 81%;
	margin-top: 110px;
}
.bg4 {
	border: 1px solid;
	border-radius: 2px;
	margin-top: 100px;
	background-color:  #3c4955;
	width: 50px;
	height: 228px;
}
.img_l {
	margin-top: 15px;
	margin-left: 15px;
}
.aro_pc4 {
	position: absolute;
	margin-left: 9px;
	margin-top: 17px;
	z-index: 10;
}
.blablall, .blablall1{ 

	margin: auto;
	border-radius: 3px;
	background-color:  #48bf72;
	width: 606px;
	height: 30px;
	z-index: 12;
	font-family: serif;
	color:  #ffffff;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	margin-top: -20px;

}
.blablall1{
	height: 35px;
}

.footer {
margin-top: 80px;
padding:20px;
background-color:  	#36455A;
height: 201px;
width: 1250px;

}
.main_2 {
	max-width: 1250px;
}
.last_p2 {
	font-family: serif;
	color:  #ffffff;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	display: inline-block;
	margin-top: 80px;
	margin-left: 50px;
}
.last_img {
	
	max-width: 500px;
	margin-top: 35px;
	display: inline-block;
	float:right;
	margin-right: 40px;
}
.last_img1 {
	padding: 28px;
}
	
