
* {
	transition: all .5s ease-in;
}
.head_1, .main_2{
	max-width: 1900px;
	height: 630px;
	min-width: 910px;
}
.head_1 {
	background:  url(../img/pc.jpg) 50% no-repeat;
    background-size: auto;
    background-position: center center;
  }
  .main_2 {	
   	background: url(../img/manpc.jpg) 50% no-repeat;
   	background-size: center center;
  }

.img_1 {
	width: 100%
	padding: 40px;
	margin-left: 150px;
	margin-top: 20px;
}
.li_1 {

	font-family: lato;
	color:  #ffffff;
	font-size: 20px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
	display: inline-block; 
	list-style: none;
	padding: 30px;

}
.info {
	margin-left: 100px;
	margin-top: 30px;
	float: right;
	right: 15px
	top:30px;
}
.bla {
	font-family: 'Bitter', serif;
	margin:150px auto 0 ;
	
}
h1 {
	padding: 5px;	

	color:  #ffffff;
	font-size: 46px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-align: center;
}
h2 {	
	font-family: 'Oswald', sans-serif;
	color:  #ffffff;
	font-size: 30px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	text-align: center;
}
.p_1 {
	border: 3px solid ;
	max-width: 100px;
	font-family: Lato;
	color:  #48bf72;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: center;
	margin: auto;
	padding: 10px;
	border-radius: 5%;
	
}
.li_2 {
	font-family: lato;
	color:  #3c4955;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
	list-style: none;
	display: inline-block;
	padding: 10px;
	border-radius: 2px;
	background-color:  #eaeaea;
	width: 125px;
	height: 20px;

}
.info_2 {
	margin: auto;
	margin-left: 140px;
}

.in {
	max-width: 1200px
	margin:auto;
}
.li_2_1 {
	width: 200px;
	font-family: lato;
	color:  #3c4955;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	text-align: center;
	list-style: none;
	display: inline-block;
	padding: 10px;
	border-radius: 2px;
	background-color:  #eaeaea;
	height: 20px; 
	background-color:  #48bf72;
	
}
.main_1 { 
	max-width: 1200px;
	margin-top: 30px;
	height: 900px;
	margin: auto;
	margin-top: 50px;
	}

.main_1_2 {
	width: 1150px;
	margin: auto;
}
.pic2, .pic5 {
	margin-right: 40px;
	padding: 20px;
	float: right;
}
.pic1, .pic4 {
	margin-left: 20px;
	padding: 20px;
	float: left;
}
.main_2_1 {
	margin:auto;
	width: 900px;
	padding: 30px;
	padding-left: 


}
.main_2 {
	height: 500px;
	clear: both;
}
.pf4 {
	margin-left: 450px;
	font-family: Lato;
	color:  #ffffff;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.text2 {
	margin-left: 445px;
	font-family: lato;
	color:  #ffffff;	
	font-size: 30px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 32px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	
}
.text3 {
	margin-left: 450px;
	font-family: lato;
	color:  #ffffff;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
}
.text5 {
	margin-top: 80px;
	font-family:lato;
	color:  #3c4955;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 700;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-left: 450px;
	}
.pf6 {

	border-radius: 3px;
	border-width: 2px;
	border-color:  #3c4955;
	border-style: solid;
	width: 148px;
	height: 35px;
	padding-top:10px;
	padding-left: 38px;
}
.lasth1 {
	 color:  black;
}




.footer {
margin-top: 80px;
padding:20px;
background-color:  	#36455A;
height: 201px;
max-width: 1900px;
clear: both;

}


.last_p2 {
	font-family: lato;
	color:  #ffffff;
	font-size: 16px;/* Приближение из-за подстановки шрифтов */
	font-weight: 400;
	line-height: 25px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	display: inline-block;
	margin-top: 80px;
	margin-left: 50px;
}
.last_img {
	
	max-width: 500px;
	margin-top: 35px;
	display: inline-block;
	float:right;
	margin-right: 40px;
}
.last_img1 {
	padding: 28px;
}
	
body {
	margin: auto;
}
.p_1:hover {
	background-color: #48bf72;
	color: white;
	border-color: #48bf72;
}
.li_2:hover {
	background-color: black;
	color: white;
}
.li_2_1:hover {
	background-color: black;
	color: white;
 }

 .pf6:hover {
	background-color: #48bf72;
	color: white;
	border-color: #48bf72;
}

.forma {
	height: 340px;
	margin-top: 50px;
	max-width: 1900px;
} 

.form1, .form2 {
	
	border-radius: 3px;
	border-width: 2px;
	border-color:  #3c4955;
	border-style: solid;
	background-color:  #f1f1f1;
	width: 331px;
	height: 36px;
}
.form1 {
	width: 37%;
	display: block;
	float: left;
	padding-left: 80px;
	text-align: unset;
	background: url(../img/inputh.png) no-repeat center left;
}
.form2 {
	width: 37%;
	display: block;
	float: right;
	text-align: unset;
	padding-left: 80px;
	background: url(../img/inputm.png) no-repeat center left;
}

.form4 {
	

	padding-left: 80px;
	text-align: unset;
	margin-top: 20px;
	border-radius: 3px;
	border-width: 2px;
	border-color:  #3c4955;
	border-style: solid;
	background-color:  #f1f1f1;
	width: 696px;
	height: 224px;
	background:  url(../img/inputp.png) no-repeat left;
	width: 617px;
	}

.pzd12 {
	margin-top: 150px;
	width: 700px;
	height: 100px;
	margin: auto;
}
.pzd4{
	font-family: lato;
	color:  #48bf72;
	font-size: 26px;
	font-weight: 400;
	line-height: 25px;
	text-align: center;
	margin: 0 auto;
	
}
.blablall1 {
	font-family: Lato;
	color:  #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 25px;
	border-radius: 3px;
	background-color:  #48bf72;
	width: 701px;
	height: 50px;
	text-align: center;
	margin-top: 30px;
  }

